@use "mixin" as m;

.p-cafe {
    padding-bottom: 10px;
    background-color: var(--backBeige);
    @include m.mq(pc) {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    .c-sectionTitle {
        left: 8px;
        background: url(../img/top/CAFE.svg) no-repeat;
        @include m.mq(pc) {
            left: 4%;
        }
    }
    &__textArea {
        @include m.mq(pc) {
            width: 50%;
        }
    }
    &__imageArea {
        width: 100%;
        padding: 40px 50px 0;
        @include m.mq(pc) {
            position: relative;
            width: 50%;
        }
        .p-cafe__image {
            width: 100%;
            margin: 0 auto 20px;
            overflow: hidden;
            @include m.mq(pc) {
                position: absolute;
            }
            &:first-child {
                @include m.mq(pc) {
                    top: 80px;
                    right: 0;
                    width: 80%;
                    aspect-ratio: 3/2;
                }
                @include m.mq(pc) {
                    top: 80px;
                    right: 0;
                    width: 60%;
                    aspect-ratio: 3/2;
                }
            }
            &:nth-child(2) {
                @include m.mq(pc) {
                    top: 40%;
                    left: 0;
                    width: 60%;
                    aspect-ratio: 5/4;
                }
                @include m.mq(pc) {
                    top: 40%;
                    left: 0;
                    width: 45%;
                    aspect-ratio: 5/4;
                }
            }
            img {
                width: 100%;
            }
        }
    }
    .c-moreButton {
        margin: 40px auto 70px 10% !important;
        background: url(../img/top/more_brown.svg) no-repeat;
            &:hover {
                background: url(../img/top/more_brown_coffee.svg) no-repeat;
            }
        }
}
.l-cafeMain {
    background-color: var(--backWhite);
    .p-cafeIntroduction {
        margin-bottom: 140px;
        padding: 54px 40px 0;
        @include m.mq(pc) {
            display: flex;
            max-height: 600px;
            padding: 120px 15% 100px;
        }
        &__textArea {
            margin-bottom: 40px;
            @include m.mq(pc) {
                width: 50%;
            }
        }
        &__imageArea {
            text-align: center;
            @include m.mq(pc) {
                width: 50%;
            }
            img {
                max-height: 450px;
            }
        }
        &__title {
            margin-bottom: 40px;
            font-size: 24px;
            font-weight: bold;
            line-height: 1.6;
        }
        &__text {
            @include m.mq(pc) {
                padding-right: 40px;
            }
            .pc {
                display: none;
                @include m.mq(pc) {
                    display: block;
                }
            }
        }
    }
    .p-cafeMenu {
        @include m.mq(pc) {
            margin-bottom: 120px;
        }
        &__imageArea {
            aspect-ratio: 2/1;
            overflow: hidden;
            @include m.mq(pc) {
                width: 50%;
                aspect-ratio: 3/2;
            }
            &::after {
                display: block;
                content: "";
                position: absolute;
                top: -70px;
                width: 60%;
                height: 30%;
                @include m.mq(pc) {
                    top: 5%;
                    width: 25%;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__textArea {
            padding: 40px 40px 0;
            @include m.mq(pc) {
                width: 50%;
            }
        }
        &__time {
            color: var(--textBrown);
            font-weight: bold;
        }
        &__text {
            margin-bottom: 30px;
        }
        &__list {
            li {
                position: relative;
                margin-bottom: 30%;
                @include m.mq(pc) {
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 0;
                }
                &:nth-child(even) {
                    flex-direction: row-reverse;
                    .p-cafeMenu__textArea {
                        @include m.mq(pc) {
                            padding-left: 10%;
                        }
                    }
                    .p-cafeMenu__time {
                        @include m.mq(pc) {
                            text-align: left;
                        }
                    }
                }
                &:nth-child(odd) {
                    .p-cafeMenu__textArea {
                        @include m.mq(pc) {
                            padding-right: 10%;
                        }
                    }
                    .p-cafeMenu__time {
                        @include m.mq(pc) {
                            text-align: right;
                        }
                    }
                }
                &:nth-child(1) {
                    .p-cafeMenu__imageArea {
                        &::after {
                            left: 5%;
                            background: url(../img/cafe/drink.svg) no-repeat;
                            background-size: contain;
                            @include m.mq(pc) {
                                left: 48%;
                            }
                        }
                    }
                    // drink
                    .p-cafeMenu__button {
                        background: url(../img/cafe/MENU-DRINK.png) no-repeat;
                        background-size: contain;
                        &:hover {
                            background: url(../img/cafe/MENU_DRINK_hover.png) no-repeat;
                            background-size: contain;
                        }
                    }
                }
                &:nth-child(2) {
                    .p-cafeMenu__imageArea {
                        &::after {
                            right: 5%;
                            width: 80%;
                            background: url(../img/cafe/lunchfood.svg) no-repeat;
                            background-size: contain;
                            @include m.mq(pc) {
                                right: 48%;
                                width: 30%;
                            }
                        }
                    }
                    // lunch food
                    .p-cafeMenu__button {
                        background: url(../img/cafe/MENU-LUNCH.png) no-repeat;
                        background-size: contain;
                        &:hover {
                            background: url(../img/cafe/MENU-LUNCH_hover.png) no-repeat;
                            background-size: contain;
                        }
                    }
                }
                &:nth-child(3) {
                    .p-cafeMenu__imageArea {
                        &::after {
                            right: 5%;
                            width: 80%;
                            background: url(../img/cafe/sweets.svg) no-repeat;
                            background-size: contain;
                            @include m.mq(pc) {
                                right: 25%;
                                width: 30%;
                            }
                        }
                    }
                    // lunch sweets
                    .p-cafeMenu__button {
                        background: url(../img/cafe/MENU-SWEET.png) no-repeat;
                        background-size: contain;
                        &:hover {
                            background: url(../img/cafe/MENU-SWEET_hover.png) no-repeat;
                            background-size: contain;
                        }
                    }
                }
                &:nth-child(4) {
                    .p-cafeMenu__imageArea {
                        &::after {
                            left: 5%;
                            background: url(../img/cafe/cafetime.svg) no-repeat;
                            background-size: contain;
                            @include m.mq(pc) {
                                left: 25%;
                            }
                        }
                    }
                    // cafe
                    .p-cafeMenu__button {
                        background: url(../img/cafe/MENU-CAFE.png) no-repeat;
                        background-size: contain;
                        &:hover {
                            background: url(../img/cafe/MENU-CAFE_hover.png) no-repeat;
                            background-size: contain;
                        }
                    }
                }
            }
        }

        &__button {
            max-width: 480px;
            margin: auto;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            transition: 0.5s;
            @include m.mq(pc) {
                margin-bottom: 60px;
            }
            a {
                display: block;
                padding: 6px 0;
            }



        }
    }
    .p-floorInformation {
        padding: 0 20px;
        @include m.mq(pc) {
            padding: 0 15%;
        }
        &__title {
            margin-bottom: 30px;
            text-align: center;
        }
        &__imageArea {
            text-align: center;
            img {
                width: 100%;
            }
        }
        &__text {
            font-size: 10px;
            text-align: right;
        }
    }


    // モーダルウィンドウ
    /* グレー背景 */
.layer {
    background: rgba(0, 0, 0, .2); 
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  /* モーダルコンテンツ */
  .modal {
    position: relative;
    margin: 0 auto;
    width: 70%;
    min-width: 80vh;
  }
  
  .modal__inner {
    margin-top: 125px;
    margin-bottom: 125px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.25);
    display: block;
    padding: 21px 8px 21px;
    height: auto;
  }
  
  .modal__content {
    padding-top: 15px;
    padding-bottom: 23px;
  }
  .modal__button-wrap {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-flex;
  }
  
  .close-button {
    position: relative;
    width: 42px;
    height: 42px;
    background: var(--backDarkBrown);
    padding: 0;
    border: transparent;
    cursor: pointer;
  }
  
  .close-button span {
    width: 30px;
    height: 1px;
    background: #fff;
    display: inline-block;
    position: absolute;
    left: calc(50% - 15px);
    top: 50%;
    // border-radius: 20px;
  }
  
  .close-button span:nth-child(1) {
    transform: rotate(45deg);
  }
  
  .close-button span:nth-child(2) {
    transform: rotate(-45deg);
  }
}
