@use "mixin" as m;

.l-header {
    height: 80vh;
    color: var(--textBrown);
    &__inner {
        height: 53px;
        .c-siteTitle {
            position: fixed;
            top: calc(50% - 20vh);
            left: calc(50% - 45px);
            width: 90px;
            height: 140px;
            background: url(../img/top/8A-logo_mv_sp.svg) no-repeat;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            @include m.mq(pc) {
                top: calc(50% - 15vh);
                left: calc(50% - 100px);
                width: 200px;
                height: 80px;
                background: url(../img/top/8A-logo_mv.svg) no-repeat;
            }
        }
        .c-hm__hidden {
            display: none;
        }
        .c-hmButton {
            position: fixed;
            top: 20px;
            left: 30px;
            z-index: 999;
            width: 44px;
            height: 35px;
            background: url(../img/top/HM.svg) no-repeat;
            background-size: contain;
            transition: .8s;
        }
        .c-hmButton__inner {
            &::before, &::after {
                position: fixed;
                top: 38px;
                left: 25px;
                z-index: 999;
                display: block;
                content: "";
                width: 54px;
                height: 1px;
                background-color: transparent;
                transform: rotate(38deg);
                transition: .8s;
            }
            &::after {
                transform: rotate(142deg);
            }
        }
        .p-hm {
            position: fixed;
            top: 0;
            left: -100%;
            width: 90%;
            height: 100vh;
            z-index: 998;
            transition: .8s;
            @include m.mq(tb) {
                width: 70%;
            }
            @include m.mq(pc) {
                display: flex;
                width: 100%;
            }
            .p-globalNav {
                height: 100vh;
                text-align: center;
                background-color: var(--backBrown);
                @include m.mq(pc) {
                    width: 50%;
                }
                &__list {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 150px;
                    height: 62vh;
                    margin: auto;
                    padding-top: 15vh;
                    font-weight: bold;
                    a {
                        position: relative;
                        display: block;
                        &:hover {
                            &::after {
                                display: block;
                                content: "";
                                position: absolute;
                                bottom: 50%;
                                width: 100%;
                                height: 1px;
                                background-color: var(--backWhite);
                            }
                        }
                    }
                    &Item {
                        &:nth-last-child(-n+2) {
                            a {
                                &:hover {
                                    &::after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
                .p-externalLink__list {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    width: 130px;
                    height: 30vh;
                    padding-top: 8vh;
                    margin: auto;
                    @include m.mq(tb) {
                        flex-direction: row;
                        width: 70%;
                        padding-top: 18vh;
                    }
                    &Item {
                        height: 50px;
                        border: 1px solid var(--textBrown);
                        @include m.mq(tb) {
                            width: 30%;
                            height: 62px;
                        }
                        a {
                            display: block;
                            height: 100%;
                            line-height: 1.5;
                            transition: .5s;
                            @include m.mq(tb) {
                                line-height: 2;
                            }
                            &:hover {
                                img {
                                    display: none;
                                }
                                span {
                                    display: block;
                                }
                            }
                            img {
                                // display: none;
                                padding: 12px 0;
                                @include m.mq(tb) {
                                    padding: 18px 0;
                                }
                            }
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }
            &__imageArea {
                display: none;
                @include m.mq(pc) {
                    background: url(../img/top/hm_pcbk.jpg) no-repeat;
                    background-position: 60% 50%;
                    display: block;
                    width: 50%;
                }
            }
        }
        #hmCheck:checked ~ .p-hm {
            left: 0;
        }
        #hmCheck:checked ~ .c-hm__open .c-hmButton {
            opacity: 0;
        }
        #hmCheck:checked ~ .c-hm__open .c-hmButton__inner {
            &::before, &::after {
            opacity: 1;
            background-color: var(--backDarkBrown);
            }
        }
        .p-externalLink__list--pc {
            display: none;
            @include m.mq(tb) {
                display: block;
                position: fixed;
                top: 20px;
                right: 30px;
                z-index: 997;
                display: flex;
                justify-content: space-between;
                width: 385px;
            }
            a {
                display: block;
                height: 100%;
                text-align: center;
                line-height: 24px;
                transition: .3s;
                &:hover {
                    font-weight: bold;
                }
            }
        }
        .p-externalLink__listItem--pc {
            &:last-child {
                width: 24px;
                height: 24px;
                background: url(../img/top/instagram.svg) no-repeat;
                text-indent: 100%;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
    .c-pageTitle {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 30vh;
        margin: 15vh auto;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        @include m.mq(pc) {
            width: 24px;
            // height: 290px;
        }
    }
}
.l-aboutHeader {
    height: 50vh;
    .c-pageTitle {
        background: url(../img/top/ABOUT.svg) no-repeat;
        background-size: contain;
    }
}
.l-roastersHeader {
    position: relative;
    background: url(../img/roasters/mv.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    @include m.mq(tb) {
        height: 100vh;
    }
    .c-pageTitle {
        margin: 10vh auto;
        background: url(../img/top/ROASTERS.svg) no-repeat;
        background-size: contain;
        @include m.mq(tb) {
            top: 0 !important;
        }
    }
    .l-header__inner {
        &::before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50vh;
            min-height: 320px;
            background: var(--backDarkBrown);
        }
        .c-hmButton {
            background: url(../img/top/hm_white.svg) no-repeat;
        }
        .p-externalLink__list--pc {
            color: var(--textWhite);
        }
        .p-externalLink__listItem--pc {
            &:last-child {
                background: url(../img/top/instagram.svg) no-repeat; // whiteにする
            }
        }
    }
}
.l-cafeHeader {
    position: relative;
    background: url(../img/cafe/mv.jpg) no-repeat;
    background-size: cover;
    background-position: 50% -20%;
    @include m.mq(tb) {
        height: 100vh;
    }
    .c-pageTitle {
        background: url(../img/top/CAFE.svg) no-repeat;
        background-size: contain;
    }
    .l-header__inner {
        &::before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 50vh;
            background: var(--backWhite);
        }
    }
}