@charset "utf-8";
@use "mixin" as m;
@use "header";
@use "about";
@use "roasters";
@use "cafe";
@use "news";
@use "onlineStore";
@use "access";
@use "footer";

body, dt {
    color: var(--textBlack);
    font-size: 15px;
    font-weight: normal;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
    line-height: 2;
}
img {
    max-width: 100%;
}
.c-mainVisual {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    .swiper-slide {
        width: 100%;
        height: 100vh;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.p-section {
    position: relative;
    .c-sectionTitle {
        position: absolute;
        top: 20px;
        width: 16px;
        height: 300px;
        background-size: contain;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        @include m.mq(pc) {
            top: 60px;
            width: 23px;
            height: 500px;
        }
    }
    .c-textArea__heading {
        padding: 45px 50px 0;
        font-size: 18px;
        font-weight: bold;
        @include m.mq(pc) {
            padding: 80px 10% 0 20%;
            font-size: 24px;
        }
    }
    .c-textArea__text {
        padding: 40px 50px 0;
        @include m.mq(pc) {
            padding: 40px 10% 0 20%;
        }
    }
    .c-moreButton {
        width: 180px;
        height: 70px;
        margin: 40px 40px 70px auto;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        transition: 0.5s;
        cursor: pointer;
        a {
            display: block;
            height: 100%;
        }
    }
}

